<h1>Flights</h1>
<% unless @booking %>
  <%= form_with model: @flight, method: :get, local: true do |form|%>
    <div>
      <%= form.label :departure_airport_id %>
      <%= form.select :departure_airport_id, @airports, include_blank: true, selected: params.dig(:flight, :departure_airport_id)%>
    </div>
    <div>
      <%= form.label :arrival_airport_id %>
      <%= form.select :arrival_airport_id, @airports, include_blank: true, selected: params.dig(:flight, :arrival_airport_id)%>
    </div>
    <div>
      <%= form.label :start %>
      <%= form.select :start, @flight_starts, include_blank: true, selected: params.dig(:flight, :start) %>
    </div>
    <div>
      <%= form.label :passangers %>
      <%= form.select :passangers, [[1,1],[2,2],[3,3],[4,4]], selected: params.dig(:flight, :passangers)  %>
    </div>
    <div>
      <%= form.submit 'Search' %>
    </div>
  <% end %>
  <% @flights.each do |flight| %>
    <ul>
      <li>Departure: <%= flight.departure_airport.code %></li>
      <li>Arrival: <%= flight.arrival_airport.code %></li>
      <li>
        <%= flight.start %>
      </li>
      <li><%= flight.duration %></li>
    </ul>
  <% end %>
<% else %>
  <%= form_with model: @flight, method: :get, local: true do |form|%>
    <div>
      <%= form.label :departure_airport_id %>
      <%= form.select :departure_airport_id, @airports, include_blank: true, selected: params.dig(:flight, :departure_airport_id)%>
    </div>
    <div>
      <%= form.label :arrival_airport_id %>
      <%= form.select :arrival_airport_id, @airports, include_blank: true, selected: params.dig(:flight, :arrival_airport_id)%>
    </div>
    <div>
      <%= form.label :start %>
      <%= form.select :start, @flight_starts, include_blank: true, selected: params.dig(:flight, :start) %>
    </div>
    <div>
      <%= form.label :passangers %>
      <%= form.select :passangers, [[1,1],[2,2],[3,3],[4,4]], selected: params.dig(:flight, :passangers)  %>
    </div>
    <div>
      <%= form.submit 'Search' %>
    </div>
  <% end %>
  <%= form_with model: @booking, url: new_booking_path, method: :get do |f|%>
    <% @flights.each do |flight| %>
      <ul>
        <li>Departure: <%= flight.departure_airport.code %></li>
        <li>Arrival: <%= flight.arrival_airport.code %></li>
        <li><%= flight.start %></li>
        <li><%= flight.duration %></li>
        <%= f.label :flight_id, "I want this one!", value: flight.id %>
        <%= f.radio_button :flight_id, flight.id %>
        <%= f.hidden_field :passangers, value: params.dig(:flight, :passangers)%>
      </ul>
    <% end %>
    <%= f.submit 'Book' %>
  <% end %>
<% end %>
